
.headerdash
{
  background-color: #107aca;
  text-align: center;
  height: 100px;
 color: white;
}
.logo{
  float: left;
  margin: 25px;

}
.buttongrp{
  margin: 25px;
  float: right
}

.buttonLogin{
  background-color: #f9fcff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 30px;
  margin-left: 5px;
  
  
}
.registerpraticiens{
  
  
  text-align: center;
}
.login{
  
  
  text-align: center;
}
.accordeon{
  text-align: center;
  
 
}
.buttonRegister{
  background-color: #f9fcff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 30px;
  margin-left: 5px;
  
}

.docflopimgdiv{
  text-align: right;
  
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}